[Desktop Entry]
Name=ManPageEditor
GenericName=Man Pages Editor
GenericName[ru]=Редактор справочных страниц
Comment=©K.D.Hedger 2013-2016, A simple Manpage editor
Comment[ru]=©K.D.Hedger 2013-2016, Редактор справочных страниц
Terminal=false
Type=Application
Categories=Development;Documentation;GTK;
MimeType=application/x-maneditdoc;
Exec=manpageeditor
Icon=manpageeditor
Keywords=editor;man;help;
